.movie {
    display: block;
    background-color: #ffffff;
    padding: 1px 20px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #dfe0e4;
}

.movie-first-box {
    margin-top:0;
}

.movie-header {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    margin-top: 10px;
}

.comment {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #dfe0e4;
}

.profile-description {
    padding-left: 10px;
}

.movie-list {
    list-style: none;
    width: 100%;
    padding: 0;
}

.genre {
    display: inline-block;
    float: left;
    text-decoration: none;
    margin: 0 10px;
}

.rating-title {
    display: block;
    width: 100%;
    float: left;
}

.rating-panel {
    position: relative;
    width: 100%;
    float: left;
}

.movie-summary {
    margin-bottom: 10px;
}