{% extends 'movies/base.html' %}

{% block body_block %}

    <style>
        ul {
            padding: 0;
        }
    </style>

	<form class="form-horizontal" id="category_form" method="post" action="{% url 'add_movie' %}" enctype="multipart/form-data">

        <div class="col-lg-offset-2">
            <h2 class="form-signin-heading">Edit your movie</h2>
        </div>

        {% csrf_token %}
        {% for hidden in movie_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in movie_form.visible_fields %}
            <div class="form-group" >
                <label class="col-lg-2 control-label">{{ field.help_text }} </label>
                <div class="col-sm-9 col-xs-12 col-lg-9">
                    {{ field.errors }}
                    {{ field }}
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-offset-2">

            <a class="btn btn-primary" href="{% url 'add_character' movie.slug %}">Edit characters</a><br />
            <a class="btn btn-primary" href="{% url 'add_actor' movie.slug %}">Edit actors</a>
        </div>

    </form>




{% endblock %}