{% extends 'movies/base.html' %}

{% block title %}Genres{% endblock %}

{% block body_block %}
    {% if genres %}
        <ul class="movie-list">
			{% for genre in genres %}
                <div class="movie movie-first-box col-lg-12 col-md-12">
				    <li>
                        <h3 class="movie-header"><a href="{% url 'genre' genre.slug %}">{{ genre.name }}</a></h3>
                    </li>
                </div>
			{% endfor %}
        </ul>

    {% else %}
        No genres present.
    {% endif %}
{% endblock %}

