{% extends 'movies/base.html' %}

{% load thumbnail %}

{% block title %}Genres{% endblock %}

{% block body_block %}
    {% if genres %}
        <ul class="movie-list">
			{% for genre in genres %}
                <li>

                    <div class="movie col-lg-12 col-md-12">
                    <a name="{{ genre.name }}"></a>

                        <h3 class="movie-header"><a href="{% url 'genre' genre.slug %}">{{ genre.name }}</a></h3>
                        {% for g, movie_list in movies.items %}
                            {% if g == genre.name %}
                                <ul class="movie-list">
                                {% for m in movie_list %}
                                    <li>
                                        <div class="movie-small-container col-lg-3 col-md-3">
                                            <div class="comment movie-small">

                                                    {% if m.picture %}
                                                        {% thumbnail m.picture "116x116" crop="center" as im %}
                                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        <img src="/media/movie_images/default_movie_picture.jpg">
                                                    {% endif %}
                                                    <a href="{% url 'movie' m.slug %}">{{ m.title }}</a>

                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                                <div class="movie-small-footer">
                                    <a href="{% url 'genre' genre.slug %}">View all movies in {{ genre.name }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}



                    </div>
                </li>
			{% endfor %}
        </ul>

    {% else %}
        No genres present.
    {% endif %}
{% endblock %}

{% block sidebar %}

    <div class="panel panel-primary" >
        <div class="panel-heading">Genres</div>

        <div class="list-group">
            {% for genre in genres %}
                <a class="list-group-item" href="#{{ genre.name }}">{{ genre }}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}

