{% extends 'movies/base.html' %}

{% load thumbnail %}
{% load staticfiles %}

{% block title %}Movies - Homepage{% endblock %}

{% block body_block %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
    $(document).ready(function(){
        $(".movie:first").css({'margin-top': '0'});
        $("#test").hide();
    });

    </script>

    {% if movies %}

            {% for movie in movies %}
                <div class="movie col-lg-12 col-md-12">
                    <div class="profile-picture col-lg-3 col-md-3">
                        {% if movie.picture %}
                            {% thumbnail movie.picture "150x150" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        {% else %}
                            <img src="/media/movie_images/default_movie_picture.jpg">
                        {% endif %}
                    </div>

                    <div class="profile-description col-lg-9 col-md-9">
                        <h3 class="movie-header"><a href="{% url 'movie' movie.slug %}">{{ movie.title }}</a></h3>
                        <h4>Rating: {{ movie.show_rating }} / 10</h4>
                    </div>


                </div>

            {% endfor %}


    {% endif %}


{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Top Movies</div>

        <ul class="list-group">
            {% for movie in top_movies %}
                <li class="list-group-item">
                    <a href="{% url 'movie' movie.slug %}">{{ movie }}</a>
                    <span class="badge">{{ movie.show_rating }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">Genres</div>

        <ul class="list-group">
            {% for genre in genres %}
                <li class="list-group-item"><a href="{% url 'genre' genre.slug %}">{{ genre }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

