{% extends 'movies/base.html' %}

{% load thumbnail %}
{% load staticfiles %}

{% block title %}Movies - Homepage{% endblock %}

{% block body_block %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
    $(document).ready(function(){
        $(".movie:first").css({'margin-top': '0'});
        $("#test").hide();
    });

    </script>

    {% if movies %}

            {% for movie in movies %}
                <div class="movie col-lg-12 col-md-12">
                    <div class="profile-picture col-lg-3 col-md-3">
                        {% if movie.picture %}
                            {% thumbnail movie.picture "150x150" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        {% else %}
                            <img src="/media/movie_images/default_movie_picture.jpg">
                        {% endif %}
                    </div>

                    <div class="profile-description col-lg-9 col-md-9">
                        <h3 class="movie-header"><a href="{% url 'movie' movie.slug %}">{{ movie.title }}</a></h3>
                        <p>{{ movie.summary }}</p>
                        <h5><b>Rating: {{ movie.show_rating }} / 10</b></h5>
                        <h5><b>Producer: <a href="{% url 'profile' movie.user.user.user.username %}">{{ movie.user.first_name }} {{ movie.user.last_name }}</a> </b></h5>
                    </div>


                </div>

            {% endfor %}


    {% endif %}


{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">Top Movies</div>

        <div class="list-group">
            {% for movie in top_movies %}
                <a class="list-group-item" href="{% url 'movie' movie.slug %}">{{ movie }} <span class="badge">{{ movie.show_rating }}</span></a>
            {% endfor %}
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">Genres</div>

        <div class="list-group">
            {% for genre in genres %}
                <a class="list-group-item" href="{% url 'genre' genre.slug %}">{{ genre }}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}

