{% extends 'movies/base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body_block %}
    <h1>{{ movie.title }}</h1>
    <h3>Year: {{ movie.year }}</h3>
    <h3>Rating: {{ rating }} / 5.0</h3>
    <h3>Genres</h3>
    <ul>
        {% for genre in genres %}
            <li><a href={% url 'genre' genre.slug %}>{{ genre }}</a></li>
        {% endfor %}
    </ul>

    <h3>Actors</h3>
    <ul>
        {% for character, actor in character_actor.items  %}

            <li><a href={% url 'actor' actor.slug %} >{{ actor.name }}</a> - {{ character.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}

