{% extends 'movies/base.html' %}

{% load staticfiles %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body_block %}
    <div class="movie movie-first-box" >
        <h2 class="movie-header">{{ movie.title }}</h2>
        <h3>Year: {{ movie.year }}</h3>
        <h3>Rating: {{ rating }} / 5.0</h3>
        <h3>Genres</h3>
        {% if time %}
            it is
        {% else %}
            its not
        {% endif %}
        <ul>
            {% for genre in genres %}
                <li><a href="{% url 'genre' genre.slug %}">{{ genre }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="movie">
        <h3 class="movie-header">Cast</h3>
        <ul>
            {% for character, actor in character_actor.items  %}

                <li><a href="{% url 'actor' actor.slug %}" >{{ actor.name }}</a> - {{ character.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="movie" >
        <h3 class="movie-header">Comments</h3>
        {% if user.is_authenticated %}
            <form class="form-horizontal" id="comment_form" method="post" action="{% url 'movie' movie.slug %}">

                {% csrf_token %}

                <div class="form-group">
                    <div class="col-lg-8 col-md-8">
                        <textarea class="form-control" rows="4" cols="40" style="resize: none;" id="id_comment" name="comment" placeholder="Enter a comment" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8 col-md-8">
                        <button class="btn btn-default" type="submit" name="submit" >Add comment</button><br />
                    </div>
                </div>
            </form>
        {% endif %}

        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    Posted by: <b><a href="{% url 'profile' comment.user.username %}">{{ comment.user }}</a> </b> <br />
                    {{ comment.comment }} <br />
                    {{ comment.date }} <br />

                </div>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}

