{% extends 'movies/base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}Search{% endblock %}

{% block body_block %}

    <div class="movie movie-first-box col-lg-12 col-md-12">
        <div class="profile-picture col-lg-4 col-md-4">
            {% if user_profile.picture %}
                {% thumbnail user_profile.picture "200x200" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                
            {% endif %}
        </div>

        <div class="profile-description col-lg-8 col-md-8">
            <h2 class="movie-header">{{ user_profile.first_name }} {{ user_profile.last_name }}</h2><br />
            <p><b>{{ user_type }}</b></p>
            <p><b>About me:</b> {{ user_profile.info }}</p>
        </div>
    </div>

    <div class="movie col-lg-12 col-md-12">
        <!-- if user is actor -->
        {% if movies_played_in %}
            <div class="movie-header">
                <h3>Movies played in</h3>
            </div>
            <ul class="movie-list">
                {% for movie in movies_played_in %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </ul>

        {% endif %}

        <!-- is user is producer -->
        {% if movies_produced %}
            <div class="movie-header">
                <h3>Movies produced</h3>
            </div>
            <ul class="movie-list">
                {% for movie in movies_produced %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>





{% endblock %}